.section {}

.section-2 {

    .slider {

        &__item {

            &_1 {
                color: #fff;
            }

            &_2 {
                color: #fff;
            }

            &_3 {
                color: #fff;
            }

            &_4 {
                color: #fff;
            }
        }

        &__progress-cnt {
            color: #fff;
        }

        &__progress {
            color: #fff;
        }
    }

    .item {

        &__content {
            color: #fff;
        }

        &__first-line {
            color: #fff;
        }

        &__second-line {
            color: #fff;
        }

        &__img {
            color: #fff;
        }
    }
}

.section-title {}

.button {}

.order {}

.h3 {}

.second-line {}