.button {
  display: inline-block;
  color: #fff;

  &.login {
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 8rem;
  }

  &.request {
    padding: 2rem 4rem;
    border: 0.25rem solid #fff;
    border-radius: 8rem;
    // display: flex;
    // align-items: center;
  }

  &.detailed {
    padding: 1rem 2rem;
    border: 2px solid #fff;
    border-radius: 8rem;
    color: #fff;
    // width: fit-content;
  }

  &.order {
    padding: 1rem 3rem;
    border: 2px solid #fff;
    border-radius: 8rem;
    color: #fff;
    // width: fit-content;
  }

  &.tag {
    padding: 0.5rem 1rem;
    //border: 2px solid #fff;
    border-radius: 8rem;
    background-color: #fff;
    color: #000;
  }
}
