$base-primary: #000;
$base-secondary: #5C5C5C;
$base-tertiary: #ABA7A7;
$base-quarternary: #E4E4E4;

$background-primary: #fff;
$background-tertiary: #F4F4F4;
$background-quarternary: #E7E7E7;

$interactive-600: #1786EC;
$interactive-500: #4CA9FF;
$interactive-400: #70BAFF;
$interactive-300: #94CBFF;
$interactive-200: #B7DDFF;

$success-600: #4DB066;
$success-500: #67EA88;
$success-400: #85EEA0;
$success-300: #A4F2B8;
$success-200: #C2F7CF;

$error-600: #BF5A5A;
$error-500: #FF7878;
$error-400: #FF9393;
$error-300: #FFAEAE;
$error-200: #FFC9C9;

$warning-600: #BFA35A;
$warning-500: #FFD978;
$warning-400: #FFE193;
$warning-300: #FFE8AE;
$warning-200: #FFF0C9;
