.section-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 5.75rem;
  background-color: #000;

  @media screen and (max-width: 800px) {
    padding: 0 3rem;
  }

  .video {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    min-width: 100%;
    z-index: -9999;
    object-fit: cover;
  }

  .nav {
    display: flex;
    //padding: 1rem 0rem;
    flex: 1 0 0px;
    align-items: center;
    justify-content: space-between;
    // height: 6rem;

    .nav__buttons {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      //gap: 2.5rem;
    }

    .nav__button {
      color: #fff;
      font-weight: 500;
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;

      margin-left: 2.5rem;
    }

    .nav__logo {
      // background-image: url("/sources/Logo/Forfis.svg");
      background-repeat: no-repeat;
      padding-bottom: 1rem;
      box-sizing: content-box;
      background-size: contain;
      width: 7rem;
      height: 2.375rem;
    }
  }

  .header {
    display: flex;
    align-items: center;
    height: 6rem;
    //gap: 2.5rem;
  }
  .header__logo {
    // background-image: url("/sources/Logo/Forfis.svg");
    // width: 112px;
    // height: 38px;
    background-repeat: no-repeat;
    padding-bottom: 1rem;
    box-sizing: content-box;
    background-size: contain;
    width: 7rem;
    height: 2.375rem;
    z-index: 1;
    img {
      width: 100%;
    }
  }

  .header__burger {
    display: none;
    z-index: 1;
    height: 100%;
    margin-right: -3rem;
    padding-right: 3rem;

    .header__burger_icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 1.25em;
      height: 1em;

      span {
        background: #fff;
        display: block;
        border: 0.0625em solid #fff;
        border-radius: 0.0625em;
        transition: 0.25s ease-in-out;
      }

      span:nth-child(1) {
        top: 0px;
        transform-origin: left center;
      }

      span:nth-child(2) {
        top: 18px;
        transform-origin: left center;
      }

      span:nth-child(3) {
        top: 36px;
        transform-origin: left center;
      }

      &.open span:nth-child(1) {
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
      }

      &.open span:nth-child(2) {
        // width: 0%;
        opacity: 0;
      }

      &.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
      }
    }
  }

  @media screen and (max-width: 980px) {
    .nav {
      display: flex;
      position: absolute;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      background: #4ca9ff;
      //gap: 2.5rem;
      transition: 0.25s ease-in-out;

      &.active {
        right: 0;
      }

      .nav__buttons {
        flex-direction: column;
        align-items: flex-start;
        // justify-content: center;
      }
      .nav__button {
        color: #fff;
        font-weight: 500;
        font-size: 3.75rem;
        letter-spacing: -1px;
        margin-bottom: 2.5rem;
      }
    }
    .header__burger {
      display: flex;
      align-items: center;
      //gap: 1rem;
      &_icon {
        margin-left: 1rem;
      }
    }
    .header {
      justify-content: space-between;
    }
  }
  .section__content {
    display: flex;
    flex-direction: column;
    //gap: 4.5rem;
    padding-bottom: 6rem;
    @media screen and (max-width: 640px) {
      padding-bottom: 10rem;
    }
  }

  .section__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding-top: 4.5rem;
  }
  .sound-button {
    height: 4rem;
    // @media screen and (max-width: 640px) {
    //   position: fixed;
    //   right: 3rem;
    //   bottom: 3rem;
    // }
  }
}

.section-2 {
  background: #4ca9ff;
  //padding: 0 5.75rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .section__title {
    padding: 1.5em 0em 0em 2.875em;
    //padding: 3rem 0em 0em 5.75rem;
  }

  .slider {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    //overflow-x: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    //scroll-snap-type: x mandatory;
    //gap: 12rem;

    // height: 80vh;
    height: 100%;
    //padding-bottom: 5.25rem;
    min-width: 100%;
    // margin-left: -5.75rem;
    // padding: 9.5rem 5.75rem 0rem 5.75rem;
    padding: 0rem 5.75rem 9rem 5.75rem;

    ::-webkit-scrollbar {
      width: 0;
    }

    .slider__item {
      position: relative;
      height: 100%;
      max-height: 55rem;
      display: flex;

      margin-right: 12rem;
      img {
        //width: 100%;
        height: 100%;
      }

      .slider__container {
        position: relative;
        min-width: 45.5rem;
        height: 39rem;
      }

      &_1 {
        align-items: flex-end;
      }

      &_2 {
        align-items: flex-start;
      }

      &_3 {
        align-items: flex-end;
      }

      &_4 {
        align-items: flex-start;
      }
    }

    .slider__content {
      position: absolute;
      width: 26rem;
      bottom: 4rem;
      z-index: 1;

      .second-line {
        // margin-left: 35%;
        margin: 0 0 0.5rem 35%;
      }
    }

    .slider__img {
      position: absolute;
      right: 0;
      z-index: 0;
      // width: 100%;
      height: 100%;
    }

    .slider__progress-container {
      overflow: hidden;
      position: absolute;
      bottom: 1rem;
      left: calc(50% - 4.5rem);
      width: 9rem;
      height: 0.4rem;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 0.4rem;
    }

    .slider__progress {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      border-radius: 0.4rem;
      transform: translate(-9rem, 0) translate(5%, 0);
    }
  }
}

.section-3 {
  background: #70baff;
  padding: 0 5.75rem;
  display: flex;

  .section__left-container {
    flex: 1 1 0px;
  }

  .section__content {
    display: flex;
    flex-direction: column;
    padding: 9.25rem 0rem 4.25rem 0rem;
    //gap: 3rem;
    justify-content: center;
    h2 {
      margin-bottom: 3rem;
    }
  }

  .section__right-container {
    flex: 1 1 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 4.5rem 4.5rem 0 0;

    img {
      height: 80vh;
    }

    @media screen and (max-width: 800px) {
      display: block;
    }
  }
}

.section-4 {
  background: #1a377a;
  padding: 0 5.75rem;
  display: flex;

  .section__left-container {
    flex: 1 1 0px;
  }

  .section__content {
    display: flex;
    flex-direction: column;
    padding: 9.25rem 0rem 4.25rem 0rem;
    //gap: 3rem;
    justify-content: center;
    h2 {
      margin-bottom: 3rem;
    }
  }

  .section__right-container {
    flex: 1 1 0px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 4.5rem 4.5rem 0 0;

    img {
      height: 80vh;
    }
    @media screen and (max-width: 800px) {
      display: block;
    }
  }
}

.section-5 {
  display: flex;
  position: relative;

  .section__left-container {
    flex: 1 1 0px;
    padding-left: 5.75rem;
    background: #ffd36b;
    position: relative;

    .img-container {
      position: absolute;
      bottom: 0;
      right: 4rem;
      display: flex;
      align-items: flex-end;
      max-width: 100%;
      max-height: 100%;

      img {
        z-index: 0;
        // position: absolute;
        // bottom: 0;
        // right: 4rem;
        width: 100%;
        max-height: 100%;
      }
    }
  }

  .section__content {
    display: flex;
    flex-direction: column;
    //gap: 3rem;
    justify-content: center;
    padding: 0rem 0rem 4.25rem 0rem;
    position: relative;

    h2 {
      margin-bottom: 3rem;
    }
  }

  .section__right-container {
    position: relative;
    padding-left: 5.75rem;
    background: #7cd7fd;
    flex: 1 1 0px;

    .img-container {
      position: absolute;
      bottom: 0;
      right: 4rem;
      display: flex;
      align-items: flex-end;
      max-width: 100%;
      max-height: 100%;

      img {
        z-index: 0;
        // position: absolute;
        // bottom: 0;
        //right: 4rem;
        width: 100%;
        height: 100%;
      }
    }

    @media screen and (max-width: 800px) {
      display: none;
    }
  }

  .detailed {
    // position: absolute;
    // bottom: 12rem;
    //left: 7.75rem;
    position: relative;
  }

  .section__title,
  .section__content,
  a {
    z-index: 1;
  }
}

.section-6 {
  background: #000;
  // padding: 0 5.75rem;

  //position: relative;
  .section__title {
    padding: 3rem 0 0 5.75rem;
  }

  .section__buttons {
    display: flex;
    flex-wrap: wrap;
    //gap: 1rem;
    //padding-top: 3rem;
    padding: 3rem 0 0 5.75rem;

    :not(:last-child) {
      margin-right: 1rem;
    }

    .button {
      padding: 1rem;
      margin-bottom: 1rem;
    }
  }

  .tag-container {
    display: flex;

    span:not(:last-child) {
      margin-right: 0.5rem;
    }
    // gap: 0.5rem;
  }

  .slider {
    // overflow: hidden;
    // margin: 0 -5.75rem;
    // padding: 0 5.75rem;
    position: relative;

    .svg-wrapper {
      display: flex;
      img {
        height: 2rem;
        width: auto;
      }
    }

    .sliderButtonNext {
      position: absolute;
      top: 46%;
      //right: -55px;
      right: 3rem;
      z-index: 2;
      cursor: pointer;
      background: #fff;
      // height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4rem;
      // padding: 28px 37px;
      // padding: 1.75rem 2.3125rem;
      padding: 2rem calc(2rem + 0.5rem) 2rem calc(2rem + 0.5rem);
    }

    .sliderButtonPrev {
      position: absolute;
      top: 46%;
      //left: -55px;
      left: 3rem;
      z-index: 2;
      cursor: pointer;

      background: #fff;
      //height: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4rem;
      // padding: 28px 37px;
      // padding: 1.75rem 2.3125rem;
      padding: 2rem calc(2rem + 0.5rem) 2rem calc(2rem + 0.5rem);
    }
  }

  .slider__container {
    display: flex;

    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    //gap: 2rem;

    //height: 80vh;
    position: relative;
    min-width: 100%;
    //margin-left: -5.75rem;
    padding: 3rem 5.75rem 0rem 5.75rem;
  }

  ::-webkit-scrollbar {
    width: 0;
  }

  // .slider__progress-container {
  //   overflow: hidden;
  //   position: absolute;
  //   bottom: 1rem;
  //   left: calc(50% - 4.5rem);
  //   width: 9rem;
  //   height: 0.4rem;
  //   background-color: rgba(255, 255, 255, 0.2);
  //   border-radius: 0.4rem;
  // }

  // .slider__progress {
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100%;
  //   height: 100%;
  //   background-color: #fff;
  //   border-radius: 0.4rem;
  //   transform: translate(-9rem, 0) translate(5%, 0);
  // }

  .slider__line {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 500;
    gap: 0.25rem;
    // ::after {
    //   position: absolute;
    //   top: 0;
    //   content: "";
    // }
    div {
      width: 100%;
      height: 0.25rem;
      background: #f4f4f4cc;
      border-radius: 0.5rem;
      position: relative;
      overflow: hidden;
      span {
        display: block;
        position: absolute;
        background-color: #fff;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translate(-50%);
      }
    }
  }

  .slider__item {
    //font-size: (1rem - 1vmin);
    flex-shrink: 0;
    position: relative;
    scroll-snap-align: center;
    //scroll-snap-stop: always;
    //min-width: 29rem;

    // max-width: 29rem;
    // max-height: 39rem;
    // min-width: (55vmin * 0.78);
    // height: 55vmin;

    width: 30rem;
    height: 39rem;

    // border: 2px solid #fff;
    border-radius: 1rem;

    margin-right: 2rem;

    &_1 {
      background: #70baff;
    }

    &_2 {
      background: #1a377a;

      .slider__img-container {
        justify-content: center;
      }
    }

    &_3 {
      background: #7cd7fd;

      .slider__img-container {
        justify-content: flex-end;
      }
    }

    &_4 {
      background: #ffd36b;

      .slider__img-container {
        justify-content: flex-end;
      }
    }

    &_5 {
      background: linear-gradient(180deg, #ffb300 0%, #ff00d6 100%);
    }
  }

  .slider__content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 1;
    padding: 1.5rem;
    box-sizing: border-box;
    //gap: 1rem;
    position: relative;

    h2,
    .slider__line {
      margin-bottom: 1rem;
    }
  }

  .slider__img {
    position: absolute;
    top: 0;
    // right: 0;
    z-index: 0;
    // display: flex;
    // justify-content: center;
    // width: 100%;
  }

  .slider__img-container {
    position: absolute;
    top: 0;
    // right: 0;
    z-index: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  img {
    width: 100%;
  }
}

.section-7 {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5.75rem;

  .section__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    //gap: 5.25rem;

    h1 {
      margin-bottom: 5.25rem;
    }
  }

  .button {
    border-radius: 1rem;
    padding: 2rem 5rem;
    color: #000;
    background-color: #fff;
  }
}

// .section__right-container {
//   @media screen and (max-width: 800px) {
//     display: block;
//   }
// }

.section {
  @media screen and (max-width: 800px) {
    display: flex;
    flex-direction: column;
  }
}
